.sticky{
    height: 125px;
    width: 47%;
  }
  .stickyText{
    height: 100px;
    width: 100%;
    cursor: pointer;
    padding-bottom: 2px;
  }
  .sticky, .stickyText{
    max-width: 15em;
    word-wrap: break-word;
    text-align: center;
    float: left;
    overflow: hidden;
    position: relative;
    margin: 2px;
  }


.sticky .voteCount {
  opacity: 0.5;
  /*filter: alpha(opacity = 50);*/
  clear: both;
  margin-top: 10px;
  font-weight: bold;
  position: absolute;
  width: 90%;
  bottom: 5%;
  left: 5%;
}
.sticky:hover .voteCount {
  font-weight: bold;
  opacity: 1;
  /*filter: alpha(opacity = 100);*/
}
